NEXT_PUBLIC_SITE_URL=https://haemyo.vercel.app
NEXT_PUBLIC_NAVER_BOOK_URL=https://booking.naver.com/booking/3/bizes/1573091/items/7340362
NEXT_PUBLIC_SUPABASE_URL=https://mbevvtbqjvdfwvajnzxf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAILS=
